.activities {
    width: 320px;
    height: 500px;
    border-radius: 8px;
    position: relative;
    background-color: white;
}

.activities img {
    width: 287px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    margin-left: -10px;
}

.activities-info {
    margin: 0 15px;
}

.activities-info p {
    margin-bottom: 0;
    margin-top: 5px;
}

.activities-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}

.btn-cart {
    width: 100%;
    background: skyblue;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart .btn-text {
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
}

.btn-cart:hover {
    background-color: greenyellow;
}

.activities-details {
    color: grey
}