.header {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.header p {
    margin-top: 0px;
}

.header img {
    width: 100px;
    height: 70px;
    background-attachment: fixed;
    border-radius: 50%;
}