.header-res {
    display: flex;
    align-items: center;
    line-height: 0;
    margin-top: 20px;
}

.header-res img {
    width: 100px;
    height: 70px;
    border-radius: 50%;
}

.body-details {
    width: 85%;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    margin: 25px;
    line-height: 0;
    border-radius: 20px;
}

.body-details div {
    padding: 10px;
}

.break-details {
    margin: 25px;
}

.break {
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    height: 50px;
    align-items: center;
    border-radius: 5px;

}

.btn {
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    font-weight: 700;
}

.btn:hover {
    background-color: black;
    color: white;
}

.excercise-details {
    margin: 25px;

}

.ex-info {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gainsboro;
    margin-bottom: 10px;
    border-radius: 10px;


}